{% extends "personal/header.html" %}

{% block content %}

    {{ object_list }}
    {% for info in object_list %}

    <div class="container">
      <h2>Basic informations abut me</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>First name</b></td>
            <td>{{ info.first_name }}</td>
          </tr>
          <tr class="active">
            <td><b>Last name</b></td>
            <td>{{ info.last_name }}</td>
          </tr>
          <tr>
            <td><b>Birth date</b></td>
            <td>{{ info.birth_date|date:"d-m-Y" }}</td>
          </tr>
          <tr class="active">
            <td><b>City</b></td>
            <td>{{ info.city }}</td>
          </tr>
              <tr>
            <td><b>Email adress</b></td>
            <td>{{ info.email }}</td>
          </tr>
          <tr class="active">
            <td><b>Phone number</b></td>
            <td>{{ info.phone_number }}</td>
          </tr>
              <tr>
            <td><b>URL</b></td>
            <td>{{ info.url1 }}</td>
          </tr>
          <tr class="active">
            <td><b>URL</b></td>
            <td>{{ info.url2 }}</td>
          </tr>
              <tr>
            <td><b>URL</b></td>
            <td>{{ info.url3 }}</td>
          </tr>
          <tr class="active">
            <td><b>Other</b></td>
            <td>{{ info.text }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    {{ info.photo }}
    {% endfor %}

{% endblock %}