<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
	<title>Marcin Koprek Website</title>
	<meta charset="utf-8" />
	<!-- Make website fully responsible -->
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans|Montserrat|Lato"
          rel="stylesheet" type='text/css'>

<style>
body {
   font: 400 15px Lato, sans-serif;
   line-height: 1.8;
   color: #727272;
}

h2 {
   font-size: 24px;
   text-transform: uppercase;
   color: #fffff;
   font-weight: 600;
   margin-bottom: 30px;
   font-family: Montserrat, sans-serif;

}

h4 {
   font-size: 19px;
   line-height: 1.375em;
   color: #4c4c4c;
   font-weight: 400;
   margin-bottom: 30px;
   font-family: Work Sans, sans-serif;
}

.jumbotron {
    background-color: #4286f4; /* Blue */
    color: #ffffff;
    font-family: Montserrat, sans-serif;
}

.navbar {
    margin-bottom: 0;
    background-color: #0048bc; /* Dark Blue */
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #0048bc !important; /* Dark Blue */
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #0048bc !important; /* Dark Blue */
}


</style>
</head>

<body id="django-resume" data-spy="scroll" data-target=".navbar"
      data-offset="60">

<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MK</a>
    </div>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="#basic-info"><span class="glyphicon glyphicon-user"></span> Basic informations </a></li>
                    <li><a href="#experience"><span class="glyphicon glyphicon-briefcase"></span> Experience</a></li>
                    <li><a href="#academics"><span class="glyphicon glyphicon-education"></span> Academics</a></li>
                    <li><a href="#skills"><span class="glyphicon glyphicon-king"></span> Skills</a></li>
                    <li><a href="#projects"><span class="glyphicon glyphicon-sunglasses"></span> Projects </a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Head -->
<div id="Head" class="jumbotron text-center">
    <h1>django-resume</h1>
    <p>My curriculum vitae in django framework</p>
</div>

<!-- Home -->
<div id="home" class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Home</h2>
        </div>
        <div class="panel-body">
            <div>
                <h4>
                    {{ welcome_text.text }}
                </h4>
            </div>
        </div>
    </div>
</div>


<!-- Basic informations -->
<div id="basic-info" class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Basic informations</h2>
        </div>
        <div class="panel-body">
            <div>
                <div class="container">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><i>Personal information</i></td>
                            <td><b>First name</b></td>
                            <td> {{ basic_info.first_name }} </td>
                          </tr>
                          <tr>
                              <td> </td>
                              <td><b>Last name</b></td>
                              <td> {{ basic_info.last_name }} </td>
                          </tr>
                          <tr>
                              <td> </td>
                              <td><b>Birth date</b></td>
                              <td> {{ basic_info.birth_date }} </td>
                          </tr>
                          <tr>
                              <td> </td>
                              <td><b>City</b></td>
                              <td> {{ basic_info.city }} </td>
                          </tr>
                          <tr>
                              <td> </td>
                              <td><b>Info</b></td>
                              <td> {{ basic_info.text }} </td>
                          </tr>
                          <tr>
                              <td><i>Contact information</i></td>
                              <td><b>Email</b></td>
                              <td> {{ basic_info.email }} </td>
                          </tr>
                          <tr>
                              <td> </td>
                              <td><b>Phone number</b></td>
                              <td> {{ basic_info.phone_number }} </td>
                          </tr>
                          <tr>
                              <td><i>Websites</i></td>
                              <td><b>URL</b></td>
                              <td> {{ basic_info.url_1 }} </td>
                          </tr>
                          <tr>
                              <td> </td>
                              <td><b>URL</b></td>
                              <td> {{ basic_info.url_2 }} </td>
                          </tr>
                          <tr>
                              <td> </td>
                              <td><b>URL</b></td>
                              <td> {{ basic_info.url_3 }} </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Experiense -->
<div id="experience" class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Experience</h2>
        </div>

  <ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#Experience_1">
            {{ experience_1.company_name }}
        </a>
    </li>
    <li>
        <a data-toggle="tab" href="#Experience_2">
            {{ experience_2.company_name }}
        </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="Experience_1" class="tab-pane fade in active">
        <blockquote>
      <h4> {{ experience_1.company_name }} <small>
          {{ experience_1.start_date }} -> NOW</small></h4>
        </blockquote>
        <dl class="dl-horizontal">
        <dt>Position: </dt>
        <dd> {{ experience_1.position }} </dd>
        <dt>Responsibilities:</dt>
        <dd> {{ experience_1.responsibilities }} </dd>
        </dl>
    </div>
    <div id="Experience_2" class="tab-pane fade">
      <blockquote>
        <h4> {{ experience_2.company_name }}
          <small>{{ experience_2.start_date }}
              -> {{ experience_2.end_date }}</small></h4>
      </blockquote>
        <dl class="dl-horizontal">
        <dt>Position: </dt>
        <dd> {{ experience_2.position }} </dd>
        <dt>Responsibilities:</dt>
        <dd> {{ experience_2.responsibilities }} </dd>
        </dl>
    </div>
  </div>
    </div>
</div>

<!-- Academics -->
<div id="academics" class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Academics</h2>
        </div>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="academics1">
        {{ academics.school_name }} </a></li>
  </ul>

  <div class="tab-content">
    <div id="academics1" class="tab-pane fade in active">
      <blockquote>
        <h4> {{ academics.school_name }}
          <small> {{ academics.start_date }} -> {{ academics.end_date }}
          </small></h4>
      </blockquote>
        <dl class="dl-horizontal">
        <dt>Department: </dt>
        <dd> {{ academics.department }} </dd>
        <dt>Faculty:</dt>
        <dd> {{ academics.faculty }} </dd>
        <dt>Info:</dt>
        <dd> {{ academics.description }} </dd>
        </dl>
    </div>

  </div>
</div>
</div>

<!-- Skills -->
<div id="skills" class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Skills</h2>
        </div>
        <div class="panel-body">
            <div class="container table-group">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                        <table class="table table-bordered table-hover span1">
                            <thead>
                            <tr>
                                <th><strong>Technologies</strong></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td> {{ skills.technologies }} </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover span1">
                            <thead>
                            <tr>
                                <th><strong>Frameworks</strong></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td> {{ skills.frameworks }} </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover span1">
                            <thead>
                            <tr>
                                <th><strong>Data Bases</strong></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td> {{ skills.data_bases }} </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover span1">
                            <thead>
                            <tr>
                                <th><strong>Tools</strong></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td> {{ skills.tools }} </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover span1">
                            <thead>
                            <tr>
                                <th><strong>Operating systems</strong></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td> {{ skills.operating_systems }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Projects -->
<div id="projects" class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Projects</h2>
        </div>

        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#Project_1">
                    {{ project_1.name }}
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#Project_2">
                     {{ project_2.name }}
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="Project_1" class="tab-pane fade in active">
            <blockquote>
                <h4> {{ project_1.name }}<hr>
                <small>
                    <b>Language:</b>  {{ project_1.language }} <hr>
                    <b>Technology:</b> {{ project_1.technologies }} <hr>
                </small></h4>
            </blockquote>
                <dl class="dl-horizontal">
                    <dt>Github: </dt>
                    <dd> <a href=" {{ project_1.URL }} ">link</a> </dd>
                    <dt>Device:</dt>
                    <dd> {{ project_1.device }} </dd>
                    <dt>Finish:</dt>
                    <dd> {{ project_1.finish }} </dd>
                    <dt>Info:</dt>
                    <dd> {{ project_1.description }} DB</dd>
                </dl>
        </div>
            <div id="Project_2" class="tab-pane fade">
            <blockquote>
                <h4> {{ project_2.name }}<hr>
                <small>
                    <b>Language: </b>{{ project_2.language }} <hr>
                    <b>Technology: </b>{{ project_2.technologies }}<hr>
                </small></h4>
            </blockquote>
                <dl class="dl-horizontal">
                    <dt>Github: </dt>
                    <dd> <a href=" {{ project_2.URL }} ">link</a> </dd>
                    <dt>Device:</dt>
                    <dd> {{ project_2.device }} </dd>
                    <dt>Finish:</dt>
                    <dd> {{ project_2.finish }} </dd>
                    <dt>Info:</dt>
                    <dd> {{ project_2.description }} </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <br>
    <hr>
    <a href="#Head" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>
        <span class="glyphicon glyphicon-envelope"></span><a href="mailto:marcinkoprek@protonmail.com" target="blank"> Mail </a>
        | <span class="glyphicon glyphicon-earphone"></span><a href="tel:+48579514187" target="blank"> Phone number </a>
        | <span class="glyphicon glyphicon-book"></span><a href="https://github.com/mkopr" target="blank"> Github </a>
        | <span class="glyphicon glyphicon-qrcode"></span><a href="https://keybase.io/mkopr" target="blank"> Keybase </a>
        | <span class="glyphicon glyphicon-file"></span><a href="https://drive.google.com/file/d/0B1ZyEb_dlAhXc3Buby15OWNhb1E/view?usp=sharing" target="blank"> PDF Version </a>
    </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'personal/js/bootstrap.min.js' %}"></script>
</body>
</html>